{% extends 'webs/base.html' %}
{% load static %}
{% block header %}
  <div class="container"> <a class="navbar-brand" href="index.html"><i class="fa fa-paper-plane"></i> cenzimo</a>
    <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
      <ul class="nav" id="nav">
          <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li class="current"><a href="{% url 'service' %}">Services</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <div class="clear"></div>
      </ul>
      <script type="text/javascript" src="js/responsive-nav.js"></script> 
    </div>
  </div>
{% endblock %}
{% block banner %}
<div class="about">
  <div class="container">
    <section class="title-section">
      <h1 class="title-header">Our  Services</h1>
    </section>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 service_box"><i class="fa fa-cog fa-3x pull-left"></i>
      <h2>Mobile App</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
    <div class="col-md-4 service_box"><i class="fa fa-comments-o fa-3x pull-left"></i>
      <h2>微信公众平台开发</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
    <div class="col-md-4 service_box"><i class="fa fa-globe fa-3x pull-left"></i>
      <h2>电子商务平台</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 service_box"><i class="fa fa-history fa-3x pull-left"></i>
      <h2>三合一企业建站</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
    <div class="col-md-4 service_box"><i class="fa fa-bar-chart fa-3x pull-left"></i>
      <h2>网络营销/SEO 优化</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
    <div class="col-md-4 service_box"><i class="fa fa-cloud-download fa-3x pull-left"></i>
      <h2>商业数据分析</h2>
      <p>Lorem ipsum dolor sit amet, facilisis egestas sodales non luctus, sem quas potenti malesuada vel phasellus, quis leo libero nec, vehicula risus et dolor. Odio condimentum vehicula luctus placerat qui, tempor morbi nec iaculis. Fusce dictum cras sem, phasellus cursus nam elit, parturient urna wisi.</p>
    </div>
  </div>
</div>
{% endblock %}
